@page
@model ReviewExtensionModel
@using MitigatingCircumstances.Models.Enum;

@{
    ViewData["Title"] = "Create Extension Request";
}

@if (Model.ExtensionRequest == null)
{
    <div class="alert alert-warning alert-dismissible" role="alert">
        Sorry, the item you're looking for cannot be found.
    </div>
    return;
}

<div class="row justify-content-center">
    <div class="col-sm-12 col-xs-12 col-md-10 col-lg-7">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">Review extension request</h5>
                <div class="form-group">
                    <h6 class="extension-title">Student</h6>
                    <p class="extension-description">@Model.ExtensionRequest.StudentCreatedBy.Fullname</p>
                </div>

                <div class="form-group">
                    <h6 class="extension-title">Title</h6>
                    <p class="extension-description">@Model.ExtensionRequest.Title</p>
                </div>

                <div class="form-group">
                    <h6 class="extension-title">Description</h6>
                    <p class="extension-description">@Model.ExtensionRequest.Description</p>
                </div>

                <div class="form-group">
                    <h6 class="extension-title">Uploaded documents</h6>
                    @if ((Model.ExtensionRequest.UploadedDocuments?.Any()) == true)
                    {
                        <ul>
                            @foreach (var document in Model.ExtensionRequest.UploadedDocuments)
                            {
                                <li><a href="@document.MediaLink">@document.Name</a></li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p class="extension-description">No documents uploaded</p>
                    }
                </div>

                <div class="form-group">
                    <h6 class="extension-title">Status</h6>
                    <p>
                        @switch (Model.ExtensionRequest.Status)
                        {
                            case ExtensionRequestStatus.Open:
                                <span class="badge badge-big badge-info">Open</span>
                                break;

                            case ExtensionRequestStatus.Approved:
                                <span class="badge badge-big badge-success">Approved</span>
                                break;

                            case ExtensionRequestStatus.Rejected:
                                <span class="badge badge-big badge-danger">Rejected</span>
                                break;

                            case ExtensionRequestStatus.Closed:
                                <span class="badge badge-big badge-secondary">Closed</span>
                                break;
                        }
                    </p>

                    <div>
                        <p class="float-right">
                            <button type="submit" data-new-status="1" class="btn btn-sm btn-success change-extension-state">
                                Approve
                            </button>

                            <button type="submit" data-new-status="2" class="btn btn-sm btn-danger change-extension-state">
                                Reject
                            </button>

                            <button type="submit" data-new-status="3" class="btn btn-sm btn-secondary change-extension-state">
                                Close
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
@if (Model.ExtensionRequest.Status != ExtensionRequestStatus.Approved)
{
    <div class="row justify-content-center">
        <div class="col-sm-12 col-xs-12 col-md-10 col-lg-7">
            <div class="card">
                <div class="card-body">
                    <h6 class="extension-title">Request more information</h6>
                    <textarea id="message" style="margin-top: 0.7rem;" class="form-control" rows="4"></textarea>
                    <button id="requestMoreInformation" style="margin-top: 0.7rem;" class="btn btn-primary float-right">Submit</button>
                </div>
            </div>

            <div id="formUserFeedback" v-if="initialized" v-cloak>
                <div v-if="successful" class="alert alert-success alert-dismissible show" role="alert">
                    The message has been sent to the student requesting more information.
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(() => {
            let extensionRequestId = @Model.ExtensionRequest.Id;
            let attrName = "data-new-status";

            $(`button[${attrName}]`).on("click", e => {
                var status = $(e.currentTarget).attr(attrName);

                $.ajax({
                    type: "POST",
                    url: "/api/extension_request/EditStatus",
                    data: {
                        newStatus: status,
                        extensionRequestId: extensionRequestId
                    },
                    error: (xhr, textStatus, errorThrown) => {
                        alert(xhr.responseText);
                    },
                    complete: (xhr) => {
                        location.reload();
                    }
                });
            });

            let app = new Vue({
                el: "#formUserFeedback",
                data: {
                    initialized: false,
                    successful: false
                }
            });

            $("#requestMoreInformation").on("click", e => {
                let msgTxtBox = $("#message");

                var data = {
                    message: $(msgTxtBox).val(),
                    extensionRequestId: extensionRequestId
                };

                $.ajax({
                    type: "POST",
                    url: "/api/extension_request/RequestMoreInformation",
                    data: data,
                    beforeSend: xhr => {
                        app.successful = false;
                    },
                    success: (r, xhr) => {
                        app.successful = true;
                        msgTxtBox.val("");
                    },
                    error: (xhr, textStatus, errorThrown) => {
                        alert(xhr.responseText);
                    },
                    complete: (xhr) => {
                        app.initialized = true;
                    }
                });
            });
        });
    </script>
}